<!DOCTYPE html>
<html>
    <head>
      {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Time Table</title>
        <link href="{% static 'home_student.css' %}" rel='stylesheet'>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    </head>
    <body>
        <div class="container text-center">
            <div class="text-center">
                <h3><u>Enter your Roll Number</u></h3>
            </div>
            <form action = "" method="post" >
              {% csrf_token %}
              <table class="table2">
                {{ form.as_table }}
              </table>
              <input type="submit" value="Submit">
            </form>
            {% if var3 != None %}
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr class="bg-light-gray">
                            <th class="text-uppercase">Time
                            </th>
                            <td class="align-middle">08:00am</td>
                            <td class="align-middle">09:00am</td>
                            <td class="align-middle">10:15am</td>
                            <td class="align-middle">11:15am</td>
                            <td class="align-middle">12:15pm</td>
                            <td class="align-middle">02:00pm</td>
                            <td class="align-middle">03:00pm</td>
                            <td class="align-middle">04:00pm</td>
                            <td class="align-middle">05:00pm</td>
                        </tr>
                    </thead>
                    <tbody id="timeTable">
                      {% for a in var3 %}
                      <tr id="monday">
                          <th class="text-uppercase">{{ a.day }}</th>
                          <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{ a.hour1 }}</span>
                          </td>
                          <td>
                              <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour2 }}</span>
                          </td>
                          <td>
                              <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour3 }}</span>
                          </td>
                          <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour4 }}</span>
                          </td>
                          <td>
                              <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour5 }}</span>
                          </td>
                          <td>
                              <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour6 }}</span>
                          </td>
                          <td>
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour7 }}</span>
                          </td>
                          <td>
                              <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{{ a.hour8 }}</span>
                          </td>
                          <td class="bg-light-gray">
                              <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{ a.hour9 }}</span>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </body>


</html>
